.jokes-container {
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
}

#jokes-title {
  display: flex;
  width: 200px;
}

#jokes-holder {
  display: flex;
  width: fit-content;
  height: fit-content;
  align-items: center;
}
