@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;500;700&display=swap');

body,
html,
* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  background-color: #fff5d7;
  font-family: 'Space Grotesk', sans-serif;
}
